/** COLORS */
$bg-primary :rgba(47, 53, 53, 0.945);
$bg-secondary : #122926de;
$color-primary : #323c3b;

$color-grey-loght-1 : #f7f7f7;

$color-grey-dark : #777;
$color-grey-dark-2 : #999;

$color-white : #ffffff;
$color-black : #000000;

$color-grey-eee :#eeeeee;

$color-primary-light :#3d524f;
$color-primary-dark : #1e312e;

$color-secondary-light : rgb(45, 118, 121);
$color-secondary-dark : rgb(56, 72, 73);

$color-tertiary-light : rgb(35, 171, 224);
$color-tertiary-dark : rgb(116, 145, 156);


// FONT
$default-font-size : 1.6rem;

/** GRID */
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-vertical-small : 6rem;
$gutter-horizontal : 6rem;
